<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<% include ../partials/nav %>
<section name="jumbotron" >
 <h1>Hey there musical fans! Play with our indexer or add a new record to the Database.</h1>
 <div class="jumbotron text-center">
    Thanks for playing.
 </div>
 </section>
<!-- include ../partials/3columns -->
<% include ../partials/footer %>
<% include ../partials/script %>
</body>
</html>
