<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<% include ../partials/nav %>
<section name="jumbotron" >
 <div class="jumbotron text-center">
     <p><br/>
         Hey there musical fans! Play with our indexer or add a new record to the Database.
         <br/><a href="/song/search">Enjoy playing.</a>
     </p>
 </div>
 </section>
<% include ../partials/footer %>
<% include ../partials/script %>
</body>
</html>
