<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<% include ../partials/nav %>
<section name="jumbotron" >
 <div class="jumbotron text-center">
     
    <h2>Success! You added a Christmas Song to the Library:</h2>

    <div style="margin-left:25pt;">
        
        <h2>Your Song Was:</h2>      
        <p style="text-align:left">
            <b>Title:</b>  <%= title %> <br/>
            <b>Chorus:</b> <%= chorus %><br/>
            <b>Song Body:</b> <%= body %><br/>
        </p>
        
    </div>
     
 </div>
 </section>
<% include ../partials/footer %>
<% include ../partials/script %>
</body>
</html>
